
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import 'https://fonts.googleapis.com/css?family=Archivo+Narrow';
@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


/* SERVICES HEADING */


#services-header {
  background:url('../img/banner-05.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#services-header h1 {
  font-style: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 4.8em;
  letter-spacing: 20px;
  color: #fff; 
  text-align: center;
  margin-top: 20%;
}

#services-header p {
  padding-top: 2em;
  font-size: 18px;
  color: #fff;
  text-align: center;
  font-family: 'Dosis';
}

/* END EVENTS HEADING */

.services-title h1 {
  margin: 40px 0;
  font-size: 50px;
  color: #000;
  text-align: center;
}

.download-title h1 {
  margin-bottom: 20px;
  font-size: 50px;
  color: #000;
  text-align: center;
}


/* ------------------ SERVICES DETAILS */

figure.services-contain {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 0;
  min-width: 230px;
  max-width: 332px;
  height: 550px;
  width: 100%;
  background-color: #fff;
  color: #ffffff;
  text-align: center;
}

figure.services-contain * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

figure.services-contain img {
  max-width: 100%;
}

figure.services-contain:after {
  background: #000000;
  width: 0;
  height: 6px;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.services-contain figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

figure.services-contain h2,
figure.services-contain span {
  margin: 0;
  width: 100%;
}

figure.services-contain h2 {
  margin-top: 230px;
  margin-bottom: 20px; 
  font-weight: 400;
  text-transform: uppercase;
  color: #404040;
}

figure.services-contain span {
  color: #e6e6e6;
  font-size: 14px;
  margin-top: 15px;
}

figure.services-contain a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.services-contain.blue:after {
  background-color: #FF7C38;
}

figure.services-contain.blue span {
  color: #FF7C38;
}

figure.services-contain.red:after {
  background-color: #FF7C38;
}

figure.services-contain.red span {
  color: #FF7C38;
}

figure.services-contain.yellow:after {
  background-color: #FF7C38;
}

figure.services-contain.yellow span {
  color: #FF7C38;
}

figure.services-contain.green:after {
  background-color: #FF7C38;
}

figure.services-contain.green span {
  color: #FF7C38;
}

figure.services-contain:hover img,
figure.services-contain.hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

figure.services-contain:hover:after,
figure.services-contain.hover:after {
  width: 100%;
}

/* ---------------- DOWNLOADABLE FORMS */

.download-details {
  padding: 28px;
}

.download-details a {
  display: inline-block;
  color: #000;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: #C0C0C0;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
  transition: 0.2s;
  font-size: 18px;
  line-height: 1.3333333;
  width: 270px;
  vertical-align: center;
}

.download-details a:hover {
  color: #fd7014;
}

.download-details h2 {
  margin: 12px 0;
}

.download-details .second {
  margin-top: 40px;
  margin-bottom: 30px;
}